name: NepmodsTester Build
permissions:
  contents: write

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build_type: [Debug, Release]  # Use capitalized to match Gradle tasks

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Ensure gradlew is executable
        run: chmod +x ./gradlew

      - name: Verify Gradle Wrapper
        run: |
          ./gradlew --version
          ls -l gradle/wrapper/

      - name: Build APK
        run: ./gradlew assemble${{ matrix.build_type }} --warning-mode all

      - name: Upload Gradle Problem Report
        uses: actions/upload-artifact@v6
        with:
          name: gradle-problem-report-${{ matrix.build_type }}-${{ github.run_id }}
          path: build/reports/problems/
          if-no-files-found: warn

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: NepmodsTester-apk-${{ matrix.build_type }}-${{ github.run_id }}
          path: app/build/outputs/apk/${{ matrix.build_type | downcase }}/app-${{ matrix.build_type | downcase }}.apk
