name: Android Build Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execution permission for Gradlew
        run: chmod +x gradlew

      - name: Build Release with warnings
        run: ./gradlew assembleRelease --warning-mode all

      - name: Upload Gradle Problem Report
        uses: actions/upload-artifact@v5
        with:
          name: gradle-problem-report
          path: build/reports/problems/
          if-no-files-found: warn

      - name: Upload Release APK
        uses: actions/upload-artifact@v5
        with:
          name: app-release-apk
          path: app/build/outputs/apk/release/*.apk